<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="sub_menu">
        {% for group in categories.values %}
        <li>
            <div class="level1">
                {% for channel in group.channels %}
                <a href="{{ channel.url }}">{{ channel.name }}</a>
                {% endfor %}
            </div>
            <div class="level2">
                {% for cat2 in group.sub_cats %}
                <div class="list_group">
                    <div class="group_name fl">{{cat2.name}} &gt;</div>
                    <div class="group_detail fl">
                        {% for cat3 in cat2.sub_cats %}
                        <a href="/list.html?cat={{cat3.id}}">{{cat3.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>